asgiref==3.5.2
asttokens==2.0.5
atomicwrites==1.4.1
attrs==22.2.0
autopep8==1.6.0
backcall==0.2.0
backports.zoneinfo==0.2.1
Brotli==1.0.9
certifi==2022.12.7
cffi==1.15.0
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==3.1.0
click==8.1.2
colorama==0.4.4
cryptography==36.0.1
cycler==0.11.0
dash==2.9.1
dash-bootstrap-components==1.3.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.10.2
dash-table==5.0.0
dash-tools==1.11.1
debugpy==1.6.0
decorator==5.1.1
distlib==0.3.6
Django==4.1.3
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
filelock==3.10.0
Flask==2.1.1
Flask-Compress==1.11
fonttools==4.29.0
gunicorn==20.1.0
identify==2.5.21
idna==3.4
importlib-metadata==4.11.3
imutils==0.5.4
iniconfig==2.0.0
ipykernel==6.13.0
ipython==8.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.1
jupyter-client==7.3.0
jupyter-core==4.10.0
kiwisolver==1.3.2
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
nest-asyncio==1.5.5
nodeenv==1.7.0
numpy==1.22.0
opencv-python==4.6.0.66
openpyxl==3.0.9
packaging==21.0
pandas==1.3.5
parso==0.8.3
pdfminer.six==20211012
pdfplumber==0.6.0
pickleshare==0.7.5
Pillow==9.0.0
pipreqs==0.4.11
platformdirs==3.1.1
plotly==5.7.0
pluggy==1.0.0
pre-commit==2.16.0
prompt-toolkit==3.0.29
psutil==5.9.0
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
Pygments==2.12.0
pyparsing==3.0.7
pytest==6.2.5
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2021.3
pywin32==303
PyYAML==6.0
pyzmq==22.3.0
requests==2.28.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
screeninfo==0.8
seaborn==0.12.2
six==1.16.0
sqlparse==0.4.3
stack-data==0.2.0
tenacity==8.0.1
termcolor==1.1.0
toml==0.10.2
tornado==6.1
traitlets==5.1.1
tzdata==2022.7
urllib3==1.26.15
virtualenv==20.21.0
visdcc==0.0.50
Wand==0.6.7
wcwidth==0.2.5
Werkzeug==2.1.1
yarg==0.1.9
yolk3k==0.9
zipp==3.8.0
