.charts_wrapper {
  height: 100vh;
  margin: 0;
}
#type_charts {
  background: rgba(0, 0, 0, 0.6);
}
#chart_view {
  background: rgba(0, 0, 0, 0.7);
}
#type_charts button {
  font-size: 1.4vw;
  padding: 0;
}
#insert_chart {
  font-size: 1.6vw;
}
.input_ax > *,
.input_title > *,
.choice_category > *,
#specific_options > * {
  font-size: 1.4vw;
  padding: 0.6vw;
}
.offcanvas-body > * {
  font-size: 1.4vw;
}

#offcanvas-placement {
  width: auto;
}
#color_item,
#color_bg {
  width: 3vw;
  height: 4vh;
  padding: 0;
}
#tooltip_target {
  margin: 0;
}
